<!DOCTYPE html>
{% extends 'base/base1.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About_us</title>
</head>
<body>
{% block base_block %}
<div class="container" align="center">
    <h4 style="color:blue">History</h4>
    <p>Placement Assistant was established in 2010 by Mr.Abc who had a passion for teaching and who wanted to pass on the knowledge he had accumulated over a period of 10 years to people who want to make a career in the IT industry. We wanted to provide the industry with people having good Technical Skills and people with the desired knowledge and ability to make successful career in the Software industry.</p>
    <h4 style="color:blue">Vision</h4>
    <p>To bridge the gap between candidates and the corporate / IT sector by creating skilled resources who can build their career in the industry.</p>
    <h4 style="color:blue">Mission</h4>
    <p>To provide candidates with Technical knowledge that is at-par with the IT industry, but also in a pocket friendly way so that everyone can take benefit of our courses.</p>
</div>
{% endblock %}
</body>
</html>