<!DOCTYPE html>
{% extends 'base/base1.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% block base_block %}
<h3 style="color:blue">Welcome to Placement Predication System</h3>
<p>We are a Campus Recruitment and Assessment Services company who help companies to find the talent across India.</p>

<p>This is a Giri's TechHub Initiative to help freshers to get a Job/Career Opportunities.... We provide Placement assistance to candidates FREE & Paid ,Both services are available.</p>

<p>On our website www.techhubindia.org we post daily Job Openings for Freshers. You can apply to these openings if you are eligible and interested and will assist you in further process. Refer your Friends & Relatives ......Spread the Word and help your near & dear ones to get various Job Opportunities.</p>
{% endblock %}
</body>
</html>